# Java & Maven
**/target/
*.class
*.jar
*.war
*.nar
*.ear
*.log
*.ctxt

# Package archives
*.zip
*.tar.gz
*.rar

# JVM crash logs
hs_err_pid*
replay_pid*

# Mobile Tools for Java (J2ME)
.mtj.tmp/

application.properties.example
src/main/resources/application-secret.properties
/application-secret.properties
# =========================
# IDE & OS AYARLARI
# =========================

### IntelliJ IDEA ###
.idea/
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iml
*.iws
*.ipr

### Eclipse ###
.metadata/
.settings/
.project
.classpath
.apt_generated
.factorypath
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### OS ###
.DS_Store
Thumbs.db

### Diğerleri ###
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
.kotlin