# Java & Maven
**/target/
*.class
*.jar
*.war
*.nar
*.ear
*.log
*.ctxt

# Package archives
*.zip
*.tar.gz
*.rar

# JVM crash logs
hs_err_pid*
replay_pid*

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# IDE (IntelliJ)
.idea/
*.iml
*.iws

# Eclipse
.metadata/
.settings/
.project
.classpath

# OS
.DS_Store
Thumbs.db

# Secrets
application.properties.example
/application-secret.properties
