
spring.datasource.url=jdbc:mysql://<SUNUCU_IP>:<PORT>/aktour_db?serverTimezone=UTC
spring.datasource.username=<VERITABANI_KULLANICI_ADI>
spring.datasource.password=<VERITABANI_SIFRESI>

admin1.username=admin
admin1.password=<ADMIN1_SIFRE>
admin1.email=admin@aktourbosna.com

jwt.secret=<BURAYA_UZUN_JWT_SECRET_KEY_GELECEK>
jwt.expiration=86400000